<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:identifier) %>:</strong></dt>
  <dd><%= @client.identifier %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @client.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact) %>:</strong></dt>
  <dd><%= display_value(@client.contact) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= display_text(@client.address) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country_name) %>:</strong></dt>
  <dd><%= @client.country_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @client.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fax) %>:</strong></dt>
  <dd><%= display_value(@client.fax) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_rules) %>:</strong></dt>
  <dd>
   <ul>
    <%- @client.payment_rules.each do |rule| -%>
     <li><%= link_to rule.name, rule %></li>
    <%- end -%>
   </ul>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%=l @client.created_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
  <dd><%=l @client.updated_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', default: t("helpers.links.back")),
              clients_path, class: 'btn' %>
  <%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_client_path(@client), class: 'btn' %>
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
              client_path(@client),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger' %>
</div>
