<%= form_for @user, url: (@user.new_record? ? accounts_path : account_path(@user)), html: { class: 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, required: true, class: 'email_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, required: true, class: 'password_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :admin, class: 'control-label' %>
    <div class="controls">
      <%= f.check_box :admin, class: 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                accounts_path, :class => 'btn' %>
  </div>
<% end %>
